*{margin: 0;padding: 0;font-size: 12px;font-family: "Microsoft YaHei","微软雅黑",SimHei,Helvetica,Arial,sans-serif;}
ul li{list-style: none;}
input{outline: none;}
input[type="text"]:not(.selectbox),input[type="number"],input[type="password"] {
    outline-style: none;
    /*border:none;border:0;*/
}
a{text-decoration:none;}/*隐藏a标签下划线*/
a:link, a:visited, a:active {text-decoration:none;}
a:hover{ text-decoration: none; color:#f78b00;}

.clearB{clear: both;}

.t-right{text-align: right;}

.w0{width: 100%;}
.w1{width: 1200px;}


.bg1{background-color: greenyellow;}
.bg2{background-color: #47daff;}
.bg3{background-color: #ffd34b;}
.bg4{background-color: #ee36ee;}



.relative{position: relative;}

.f-left{float: left;}


/* 顶部 */

.top-nav{height: 42px;width: 100%;background-color: #ec3e33}
.top-nav .cont{width: 1200px;height: 42px;margin: 0 auto;padding: 0 20px;}
.top-nav .cont a{color: #fff;text-decoration: none;padding: 0 10px;line-height: 42px;font-size: 14px;font-family: "Microsoft YaHei", "微软雅黑", SimHei, Helvetica, Arial, sans-serif}
.search-box{padding-top: 9px;}
.search-box input{width: 162px;height: 24px;line-height: 24px;border-radius: 20px;outline: none;background-color: #fff;border: none;padding: 0 10px;}

.nav-box{width: 100%;height: 102px;}

/* 轮播 */
.carousel-inner{height: 505px;}


/* 内容 */
.maincontainer{margin: -105px auto 0px auto;width: 1200px;}
.floor1{width: 400px;height: 108px;text-align: center;line-height: 108px;}


